<%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete %>

<h1>Hey <%= @user.name %> This is categoris page</h1>

<% @categories.each do |category| %>
  <img src="<%= category.icon %>" alt="image" width="100" height="100">
  <p>
    <%= link_to category.name, category_path(category) %>
  </p>
<% end %>

<%= link_to 'Add a new category', new_category_path %>

<%# <p> %>
  <!--%= link_to @category.name, category_deals_path(category) %>
</p>-->