<h1><%= @category.name %></h1>
<h2> Total amount: <%= @category.deals.sum(:amount) %> </h2>
<%= link_to 'back', categories_path %>
<% @category.deals.each do |deal| %>
  <p>
    <%= deal.name %>, <%= deal.amount %>
  </p>
<% end %>


<%= link_to 'Add a new transaction',  new_category_deal_path(category_id: @category.id) %>